<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" , content="width=device-width, initial-scale=1" charset="UTF-8">

    <title>war card game</title>
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-field">
    <h1><a href="/game">PLAY GAME</a>

<form action="/game" method="post">
    <input type="text" name="name" placeholder="Please enter your name.">
    <button type="submit">Play!</button>
</form>

</h1>

        </div>
</body>
</html>